<nav>
    <div class="nav-wrapper">
		<div style="margin-left: 20px;">{{#link-to 'index' class='brand-logo'}}ShoutOut! <span class="grey-text text-lighten-2" style="font-size: 0.5em;">v0.3a</span>{{/link-to}}</div>
		<ul id="nav-mobile" class="right">
			<li>{{#link-to 'profile'}}Profile{{/link-to}}</li>
		</ul>
	</div>
</nav>
<div class="container">{{outlet}}</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}