<div class="row">
	<div class="col s12 m8 offset-m2">
        <h2 class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="No, no one actually shouts, in case you thought that.">Shout feed</h2>
	</div>
</div>
{{post-input action='addPost'}}
{{#post-feed posts=model}}
	{{outlet}}
{{/post-feed}}
